<div class="gridContainer">
  <main class="halfSection fullHeight">
    <!-- main form section  -->
    <section class="halfSection p-3">
      <!-- top buttons container -->
      <a href="">
        <img src="./images/Logo.png" alt="" class="logo" />
      </a>
      <header class="d-flex justify-content-around align-items-center">
        <div class="headerSelect">
          <a href="#login"><p class="lightTextColor">Login</p></a>
        </div>
        <div>
          <a href="/signup"><p class="">Sign Up</p></a>
        </div>
      </header>
      <!--title section-->
      <div class="leftMargin mainContainer">
        <div class="textContainer">
          <h1>Woof Woof!</h1>
          <h2>Welcome!</h2>
        </div>
        <div>
          <!--form-->
          <form action="">
            <div>
              <input data-isClicked="false" class="whiteText" type="text" name="" id="email" placeholder="Email"
                autocomplete="off" />
              <input data-isClicked="false" class="whiteText" type="password" name="" id="password"
                placeholder="Password" autocomplete="off" />
            </div>
          </form>
          <!--checkbox and description-->
          <div></div>
          <!--Submit-->
          <button id="login" class="submitButton">Submit!</button>
        </div>
        <footer></footer>
      </div>
    </section>
    <a href="https://icons8.com/">
      <p class="lightTextColor fixed-bottom m-1">Icons by Icons8</p>
    </a>
  </main>
  <aside class="halfSection">
    <div class="main-image"></div>
  </aside>
</div>

<script src="./js/login-animation.js"></script>
<script src="./js/login.js"></script>